/02-Matplotlib Tutorial for Beginners.ipynb
/03-Seaborn Tutorial.ipynb
/04-Data Visualization with Pandas and Seaborn.ipynb
/05-Line Plots in Python using Matplotlib.ipynb
/06-Scatter Plot with Matplotlib.ipynb
/07-Bar Plot with Matplotlib in Python.ipynb
/08-Histograms with Matplotlib in Python.ipynb
/09-Data Visualization with Pandas - Part 1.ipynb
/10-Data Visualization with Pandas - Part 2.ipynb
/11-Seaborn-Tutorial.ipynb
/Datasets
/eda-visualization-on-data-science-salaries.ipynb
/Google-Play-Store-Eda-Data-Visualization.ipynb
/README.md
/showing_an_image_with_matplotlib.ipynb
/videos
Tableau/sample-data-10mins.xlsx
